<div class="wrapper">

  <div class="header">

    <div class="title">
      Reconocimiento Facial
    </div>

  </div>

  <div class="block-main">

    <div id="cam">

      <app-video-player [width]="dimensionsVideo.width" [height]="dimensionsVideo.height" [stream]="this.currentStream"></app-video-player>

    </div>

    <div class="sidebar">

      <div class="zone-body">

        <div class="block">
          <div><b>Estado de animo</b></div>
          <div class="block-expressions">
            <div *ngFor="let exp of listaExpresiones" >
              <span>{{ exp.name }}:</span> <span class="value-number">{{ exp.value | number }}</span>
            </div>
          </div>
        </div>

        <div class="block">
          <div>Puntos de referencia</div>
          <div class="canvas-preview"></div>

        </div>

      </div>

      <div class="zone-btn">
        <ul class="list-btn">
          <li *ngFor="let btn of [1,1,1]" >
            icon
          </li>
        </ul>
      </div>

    </div>

  </div>

  

</div>

